:root {
    --color-primary1: #17151f;
    --color-primary2: #1c172b;
    --color-primary3: #251e40;
    --color-primary4: #2c2250;
    --color-primary5: #32275f;
    --color-primary6: #392c72;
    --color-primary7: #443592;
    --color-primary8: #5842c3;
    --color-primary9: #6e56cf;
    --color-primary10: #7c66dc;
    --color-primary11: #9e8cfc;
    --color-primary12: #f1eefe;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 150%;
    font-family: monospace;
}

@media (min-width: 600px) {
    html {
        font-size: 200%;
        font-family: monospace;
    }
}

body {
    background-color: var(--color-primary1);

    color: var(--color-primary12);
}

a {
    color: var(--color-primary11);
}

.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.term {
    display: flex;
    height: 100vh;

    flex-direction: column;
}

.term__screen {
    max-width: calc(80ch + 2rem);
    height: calc(100vh - 3rem);
    padding: 1rem 1rem 5rem;

    flex-grow: 1;

    line-height: 1.5;

    background-color: var(--color-primary3);

    overflow-y: auto;
}

.term__prompt {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    box-shadow: 0 -2px 3px var(--color-primary1);
}

.term__prompt label {
    display: block;
    padding-right: 1ch;
    padding-left: 1ch;

    font-size: 0.8rem;

    background-color: var(--color-primary2);
}

.term__prompt-container {
    display: flex;
    height: 3rem;
    padding-right: 0.5ch;
    padding-left: 0.5ch;

    flex-shrink: 1;
    align-items: center;

    background-color: var(--color-primary2);
    border: 0.25rem solid transparent;
}

@media (min-width: 600px) {
    .term__prompt-container {
        padding-right: 1ch;
        padding-left: 1ch;
    }
}

.term__prompt-container:focus-within {
    border-color: var(--color-primary9);
}

.term__prompt input {
    min-width: 0;

    flex-grow: 1;

    color: inherit;
    font-family: monospace;
    font-size: 1rem;

    background-color: transparent;
    border: none;
}

.term__prompt input:focus {
    outline: none;
}

.term__prompt button {
    margin-left: 0.25rem;
    padding: 0.25rem 0.5rem;

    color: white;
    font-family: monospace;
    font-size: 1rem;

    background-color: var(--color-primary9);
    border: none;
}

.screen__row {
    white-space: pre-wrap;
}

.screen__row--command,
.screen__row--input {
    color: var(--color-primary11);
}

@media (min-width: 600px) {
    .screen__row--output-success,
    .screen__row--output-error {
        margin-left: 2ch;
    }
}

.screen__row--output-error {
    font-style: italic;
}

.screen__row .directions {
    padding: 0;

    list-style: none;
}

.screen__row .direction {
    margin-top: 0.25rem;
}

.screen__row .direction::before {
    content: '→ ';
}

.screen__row .direction .label {
    font-size: 1.2em;
}

.screen__row .direction--allowed .label {
    color: var(--color-primary11);
    font-weight: bold;
}

.command {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    color: white;

    background-color: var(--color-primary9);
    border-radius: 0.25rem;
}

.debug {
    position: fixed;
    top: 0;
    right: 0;
}
